.input {
  font-size: 20px;
  font-weight: bold;
  border: 2px solid orangered;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: all 0.2s ease;
  width: 100%;
  box-sizing: border-box;
}

.input:hover {
  background-color: lightgray;
}

.input:focus {
  border-color: blue;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  outline: none;
}
